<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Générateur de Motifs Géométriques</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="container">
        <h1>Générateur de Motifs Géométriques</h1>
        <div class="form-result">
            <form method="POST" action="/generer">
                <h2>Parametres :</h2>
                <label>Mode :</label>
                <select name="mode" id="mode">
                    <option value="forme">Forme</option>
                    <option value="fractale">Fractale</option>
                    <option value="spirale">Spirale</option>
                </select>
                <label class="simple">Nombre de côtés :</label>
                <input type="number" name="cotes" min="3" class="simple" placeholder="exemple: 4">

                <label class="rep">Profondeur / Répétitions :</label>
                <input type="number" name="rep" min="1" class="rep" placeholder="exemple: 4">

                <label class="niveau">Niveau :</label>
                <input type="number" name="niveau" min="1" max="5" class="niveau" placeholder="exemple: 3">

                <label>Taille initiale :</label>
                <input type="number" name="taille" min="50" required placeholder="exemple: 200">

                <label class="angl">Angle de rotation (en degrés) :</label>
                <input type="number" name="angle" min="0" max="360" class="angl" placeholder="exemple: 15">

                <label class="spir">Pas</label>
                <input type="number" name="pas" min="0.01" max="1" step="0.01" class="spir" placeholder="exemple: 0.5">

                <label>Couleur :</label>
                <input type="color" name="couleur" id="col" value="{{ couleur|default('#000000') }}">


                <button type="submit">Générer le motif</button>

            </form>

            <div class="result">
                <h2>Résultat :</h2>
                {% if image_url %}
                <!-- si une image a ete genere flask l'enverra et on rentrera dans le if -->
                <img src="{{ image_url }}" alt="Motif généré">
                <!-- image_url correspond a la varibale a remplacer lorsque flask genere le code html -->
                {% else %}
                <p>Aucun motif généré pour le moment.</p>
                {% endif %}

                <div class="presuiv">
                    <form method="POST" action="/precedent">
                        <button type="submit" class="presuiv_btn"> precedent </button>
                    </form>
                    <form method="POST" action="/suivant">
                        <button type="submit" class="presuiv_btn"> suivant </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script>
        const select = document.getElementById("mode");
        const fract = document.querySelectorAll(".fract");
        const simple = document.querySelectorAll(".simple");
        const rep = document.querySelectorAll(".rep")
        const Angle = document.querySelectorAll(".angl")
        const spirale = document.querySelectorAll(".spir")
        const niveau = document.querySelectorAll(".niveau")

        select.addEventListener("change", changement)
        function changement() {
            if (select.value == "forme") {
                for (const elem of fract) {
                    elem.style.display = "none";
                }
                for (const elem of simple) {
                    elem.style.display = "block";
                }
                for (const elem of rep) {
                    elem.style.display = "block";
                }
                for (const elem of niveau) {
                    elem.style.display = "none";
                }
                for (const elem of spirale) {
                    elem.style.display = "none";
                }
                for (const elem of Angle) {
                    elem.style.display = "block";
                }
            }
            else if (select.value == "fractale") {
                for (const elem of simple) {
                    elem.style.display = "none";
                }
                for (const elem of fract) {
                    elem.style.display = "block";
                }
                for (const elem of rep) {
                    elem.style.display = "none";
                }
                for (const elem of niveau) {
                    elem.style.display = "block";
                }
                for (const elem of spirale) {
                    elem.style.display = "none";
                }
                for (const elem of Angle) {
                    elem.style.display = "none";
                }
            }
            else if (select.value == "spirale") {
                for (const elem of simple) {
                    elem.style.display = "none";
                }
                for (const elem of fract) {
                    elem.style.display = "none";
                }
                for (const elem of rep) {
                    elem.style.display = "none";
                }
                for (const elem of niveau) {
                    elem.style.display = "none";
                }
                for (const elem of spirale) {
                    elem.style.display = "block";
                }
                for (const elem of Angle) {
                    elem.style.display = "block";
                }
            }
        }
        changement();
    </script>
</body>

</html>