<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Générateur de Motifs Géométriques</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <!-- le 'href' doit etre ecris de cette facon pour pouvoir etre lu avec flask -->
</head>

<body>
    <div class="container">
        <h1>🎨 Générateur de Motifs Géométriques</h1>
        <form method="POST" action="/generer">
            <!-- la metode 'post' est importante pour recuperer les donnees, l'action 
            permet d'indiquer a flask ou se trouvent les informations a recupere -->
            <label>mode</label>
            <select name="mode" id="mode">
                <option value="forme">forme</option>
                <option value="fractale">fractale</option>
            </select>
            <label class="simple">Nombre de côtés :</label>
            <input type="number" name="cotes" min="3" class="simple">
            <!-- la balise 'required' permet d'empecher l'envoie si les champs ne sont pas remplis comme il faut -->

            <label class="simple">Profondeur / Répétitions :</label>
            <input type="number" name="rep" min="1" class="simple">

            <label>Taille initiale :</label>
            <input type="number" name="taille" min="10" required>

            <label class="simple">Angle de rotation (en degrés) :</label>
            <input type="number" name="angle" min="0" max="360" class="simple">

            <label class="fract">niveau</label>
            <input type="number" name="niveau" class="fract">

            <label>Couleur :</label>
            <input type="color" name="couleur">


            <button type="submit">Générer le motif</button>

        </form>

        <div class="result">
            <h2>Résultat :</h2>
            {% if image_url %}
            <!-- si une image a ete genere flask l'enverra et on rentrera dans le if -->
            <img src="{{ image_url }}" alt="Motif généré">
            <!-- image_url correspond a la varibale a remplacer lorsque flask genere le code html -->
            {% else %}
            <p>Aucun motif généré pour le moment.</p>
            {% endif %}
        </div>

    </div>
    <script>
        const select = document.getElementById("mode");
        const fractFields = document.querySelectorAll(".fract");
        const simpleFields = document.querySelectorAll(".simple");

        select.addEventListener("change", changement)
        function changement(){
            if (select.value == "forme") {
                for (const elem of fractFields) {
                    elem.style.display = "none";
                }
                for (const elem of simpleFields) {
                    elem.style.display = "block";
                }
            } else {
                for(const elem of simpleFields){
                    elem.style.display = "none";
                }
                for(const elem of fractFields){
                    elem.style.display = "block";
                }
            }
        }
        changement();
    </script>
</body>

</html>